<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottom</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>BOTTOM 5 DISNEY MOVIES 💩🚽 HOT TAKES TERRIBLE MOVIES</h1>
    <ol>
        <li>Bugs Life 💩💩💩💩💩💩 (MEGA DOOKIE)</li>
        <li>Chicken Little 🤮🤮🤮🤮🤮</li>
        <li>Meet the Robinsons</li>
        <li>g-force (cringe hampster)</li>
        <li>Planes 🛬🏢💥</li>
    </ol>
</body>
</html>